@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: "DM Sans", sans-serif;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
}

.filters-mobile{
    display: none;
    justify-content: center;
    background-color: black;
}

.filters-mobile div button{
    padding: 10px;
    background-color: rgb(56, 56, 56);
    color: black;
    border: none;
    border-radius: 15px;
    scale: 1.2;
}

.filters-mobile div button::before{
    content: url(./Assets/tune_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
}



.products{
    width: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-inline: 20px;
}

.product{
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    gap: 10px;
    padding: 20px;
    flex-basis: 150px;
    min-height: 490px;
    box-shadow: 0px 0px 10px 1px #00000046;
    transition: 0.5s;
}

.filters{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #00000046;
    gap: 20px;
    margin-left: 10px;
}

.range{
    -webkit-appearance: none;
    background-color: #c7c7c7;
    border-radius: 30px;
    height: 6px;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    cursor: grab;
    background-color: rgb(0, 0, 0);
}

.searchBar{
    border-radius: 30px;
    height: 30px;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    border: 1px solid black;
}

.storageFilters{
    display:flex;
    flex-direction: column;
    font-size: 19px;
    gap: 20px;
}

.group input{
    background-color:  #c7c7c7;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    appearance: none;
    border-radius: 5px;
    cursor: pointer;

}


.group input:checked{
    background-color: black;

}

.group input:checked:before{
    content: url(./Assets/icons8-tick.svg);
}
.values{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.values span::after{
    content: " €";
}


.product:hover{
    scale: 1.03;
}

.product h2{
    font-size: medium;
}

.product img{
    max-width: 200px;
}


.price{
    font-weight: 600;
    font-size: 23px;
}
.price::after{
    content: " €";
}

.rating{
    display: flex;
    justify-content: space-between;
}

.reviews::after{
    content: " Opiniones";
}

.stars::after{
    content: url(./Assets/star.svg);
}

.stars{
    display: flex;
    align-items: start;
    font-weight: 600;

}

.button{
    background-color: black;
    color: white;
    padding: 10px; 
    border: none;
    border-radius: 30px;
    transition: 0.5s;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.button:hover{
    scale: 1.1;

}

@media (min-width:510px) and (max-width:1199px){
    .filters{
        display: none;
    }
    .products{
        width: 100%;
        justify-content: center;
        padding: 0px;
    }
    .filters-mobile{
        display: block;
        position: fixed;
        top: 1;
        z-index: 1;
        justify-content: center;
        background-color: transparent;

    }
    .filters-mobile div{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 509px){
    .filters{
        display: none;
    }
    .products{
        width: 100%;
        justify-content: center;
        padding: 0px;
    }
    .product{
        flex-basis: 80%;
        align-content: center;
    }
    .product img{
        max-width: 100%;
    }
    .filters-mobile{
        display: block;
        position: fixed;
        top: 1;
        z-index: 1;
        justify-content: center;
        background-color: transparent;

    }
    .filters-mobile div{
        display: flex;
        justify-content: center;
    }
}


/* Filtros para móvil */



.filters-popup{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 25px;
    padding: 20px;
}

.filters-popup .range{
    width: 100%;
}


.apply{
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    width:100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenthidden{
    display: none;
}

.deleteFilters{
    border: none;
    font-size: 18px;
    background-color: transparent;
}